* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(61, 59, 220) 0%, #c33c5c 100%)
}

.container {
    height: 400px;
    width: 350px;
    padding: 40px;
    color: black;
    border: none;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 10px 0px  ;
    background-color: #fff;
}



.container input {
    width: 100%;
    height: 38px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 3px;
    margin: 3px;
    background: rgb(248, 247, 247);

}

.container button {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: rgb(76, 181, 249);
    border: none;
    margin: 8px;
 
}

.container span {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0px 20px 0px;
    color: rgb(93, 92, 92);
}

.container h5 {
    color: rgb(7, 48, 114);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;



}

.container a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(105, 103, 103);
}

.container2 {
    height: 50px;
    width: 350px;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 14px;
  padding-top: 15px;

}
.container2 a{
text-decoration: none;
font-weight: 600;
}


.container3 {
    height: 80px;
    width: 350px;
    text-align: center;
  
  
}
.container3 h4 {

  font-size: 14px;
  font-weight: 400;
  margin: 15px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .line1{
text-align: center;
padding: 20px;
 
}  

.line1 a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(148, 146, 146);

    padding: 10px;
}

footer .line2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


}  

.line2 a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(148, 146, 146);
    padding: 10px;
}
